.dashboard {
    padding: 40px;
    background-color: #f4f4f9;  
    min-height: 100vh;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.dashboardTitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;  
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.tabContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;  
}

.tabButton {
    margin: 0 20px;
    padding: 12px 24px;  
    background-color: #37949b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabButton:hover, .tabButton.active {
    background-color: #308288;
}

.content {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 40px; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.textarea, .input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;  
    border: 2px solid #ccc;
    border-radius: 4px;
}

.fileUploadLabel {
    display: block;
    background-color: #caa53d;  
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;  
}

.fileUploadInput {
    display: none;  
}

.actionButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 30px;
    background-color: #37949b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actionButton:hover {
    background-color: #2f7d83;
}

.logEntry {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Adjusts spacing between items */
    padding: 5px; /* Adds padding around text */
}

.logDetail {
    margin-right: 3px; /* Adds space between the labels and the values */
}
