@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.registerContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.imageSide {
    animation: fadeIn 1s ease-out forwards;
    flex: 1;  /* Maintains half of the screen for the image */
    background-size: cover;
    background-position: center;
}

.formSide {
    animation: fadeIn 1s ease-out forwards;
    flex: 1;  /* Utilizes the other half of the screen */
    display: flex;
    align-items: center; /* Vertically center the form */
    justify-content: center; /* Horizontally center the form */
    background-color: #f8f8f8; /* Light background for better readability */
}

.registerForm {
    width: 100%; /* Makes the form use the full width of .formSide */
    padding: 20px; /* Minimal padding to keep content from the edges */
    margin: 0 auto; /* Ensures the form is centered within .formSide */
}

.registerForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registerForm label {
    display: block;
    margin-top: 10px;
}

.registerForm input,
.registerForm select {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registerForm button {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registerForm button:hover {
    background-color: #0056b3;
}

.backButton {
    position: absolute;
    top: 3%; /* Adjust as necessary */
    left:10%; /* Adjust as necessary */
    font-size: 18px;
}

.backButton a {
    color: #007BFF; /* Match the button color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s;
    color: inherit; /* Inherit the color from the button */
    text-decoration: none; /* Remove underline */
}

.backButton a:hover {
    color: #0056b3; /* Darker shade on hover */
    color: inherit; /* Inherit the color from the button */
    text-decoration: none; /* Remove underline */
}

.message {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.successMessage {
    color: green;
}

.errorMessage {
    color: red;
}
